<p>Zaaplikował/a o: <%= @application.jobType %></p>
<p>Dział: <%= @application.division %></p>
<p>Znane technologie: <%= @application.technologies %></p>
<p><%= link_to "Powrót", applications_path %></p>